<div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">
    <%= I18n.translate('devise.registrations.new.sign_up') %>
  </h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :name, autocomplete: :name,class: "w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :cpf, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :cpf, autocomplete: I18n.translate(:cpf), class: "w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: I18n.translate(:email), class: "w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <% if @minimum_password_length %>
        <em class="text-sm text-gray-500">( <%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </div>

    <div class="mt-6">
      <%= f.submit I18n.translate('devise.registrations.new.sign_up'), class: "w-full px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg text-sm font-medium focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  <% end %>

  <div class="mt-6 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
