<div id="<%=dom_id(beverage)%>-card" class="flex flex-col h-full bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow">
    <div class="p-4">
        <div class="flex flex-wrap justify-between items-start mb-4 gap-2">
            <h3 class="text-xl font-semibold text-gray-900"><%= beverage.name %></h3>
            <div class="flex flex-wrap items-center gap-2">
                <% if current_user == restaurant.owner %>
                    <% if action_name == 'show' && controller_path == 'menus' %>
                        <%= button_to 'Remover', [@restaurant, @menu, @menu.offerable_menus.find_by(offerable: beverage)], method: :delete, class: "px-3 py-1 bg-gray-100 text-red-600 rounded-md text-sm hover:bg-gray-200"%>
                    <% end %>
                    <%= link_to 'Editar', edit_restaurant_beverage_path(restaurant, beverage), id: "#{dom_id(beverage)}_edit", class: "px-3 py-1 bg-gray-100 text-gray-600 rounded-md text-sm hover:bg-gray-200" %>
                    <span class="px-2 py-1 <%= beverage.active? ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %> rounded-full text-sm">
                        <%= I18n.translate(beverage.status) %>
                    </span>
                <% end %>
            </div>
        </div>
        <div id="<%=dom_id(beverage)%>-details" class="block">
            <div class="p-4 flex-1">
                <div class="w-full h-40 mb-3 rounded-lg overflow-hidden">
            <% if beverage.image.attached? %>
                    <%= image_tag url_for(beverage.image), class: "w-full h-48 object-cover", style: "min-height: 200px" %>
            <% end %>
                </div>                

            <div class="space-y-4">
                <p class="text-gray-600"><%= beverage.description %></p> 
                <div class="flex flex-wrap items-center gap-2">
                    <% beverage.tags.each do |tag| %>
                        <span class="px-2 py-1 bg-blue-100 text-blue-800 rounded-full text-sm">
                            <%= I18n.t(tag.name, default: tag.name) %>
                        </span>
                    <% end %>  
                
                    <% if beverage.calories.present? %>
                      <span class="px-2 py-1 bg-gray-100 text-gray-600 rounded-full text-sm">
                            <%= beverage.calories %> kcal
                      </span>  
                    <% end %>
                </div>
                <div class="mt-4 inline-block">
                    <span class="px-2 py-1 bg-gray-100 text-black-800 rounded-full text-sm">
                        <%= beverage.yes? ? 'Alcoólica' : 'Não-alcoólica' %>
                    </span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

