<div class="container mx-auto px-4 py-8 max-w-6xl">
    <nav class="mb-8">
        <%= link_to @restaurant.trade_name, restaurant_path(@restaurant.id), class: "text-blue-600 hover:text-blue-800" %>/
        <%= link_to @menu.name, restaurant_menu_path(@restaurant.id, @menu.id), class: "text-blue-600 hover:text-blue-800" %>
    </nav>
    <% if current_user == @restaurant.owner %>
        <div class="mb-20">  
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-2xl font-bold text-gray-900">Bebidas</h2>
            </div>

            <% if @beverages.empty? %>
                <p class="text-gray-500 bg-gray-50 rounded-lg p-6 text-center">Não há bebidas para incluir ao menu</p>
            <% else %>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <% @beverages.each do |beverage| %>
                        <div class="h-full"> 
                            <%= render 'shared/beverage', beverage: beverage, restaurant: @restaurant %>
                            <%= button_to restaurant_menu_offerable_menus_path(@restaurant, @menu, params: { offerable_menu: { offerable_id: beverage.id, offerable_type: "Beverage" } } ),
                                                                                    method: :post,
                                                                                    class: "mt-4 w-full px-4 py-2 text-white bg-indigo-600 rounded-lg text-sm font-medium hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-300" do %>
                                    Adicionar ao Menu
                            <% end %>
                        </div>
                    <% end %>  
                </div>
            <% end %>
        </div>

        <div class="mb-20">
            <div class="flex items-center justify-between mb-6">
                <h2 class="text-2xl font-bold text-gray-900">Pratos</h2> 
            </div>
            <% if @dishes.empty? %> 
                <p class="text-gray-500 bg-gray-50 rounded-lg p-6 text-center">Não há pratos para incluir ao menu</p>
            <% else %>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <% @dishes.each do |dish| %>
                        <div class="v-full"> 
                            <%= render 'shared/dish', dish: dish, restaurant: @restaurant %>
                            <%= button_to restaurant_menu_offerable_menus_path(@restaurant, @menu, params: { offerable_menu: { offerable_id: dish.id, offerable_type: "Dish" } } ),
                                                                                method: :post,
                                                                                class: "mt-4 w-full px-4 py-2 text-white bg-indigo-600 rounded-lg text-sm font-medium hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-300" do %>
                                Adicionar ao Menu
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>        
        </div>
    <% end %>
</div>
