    <%= form_with(model: @dish, url: url) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %><br>

        <%= f.label :description %>
        <%= f.text_area :description %><br>

        <%= f.label :calories %>
        <%= f.number_field :calories %><br>

        <%= f.label :image %>
        <%= f.file_field :image %><br>

        <% if @dish.image.attached? %>
            <p>Imagem atual:</p>
            <%= image_tag @dish.image, width: 100 %><br>
            <%= f.check_box :remove_image %>
            <%= f.label :remove_image, "Remover imagem" %><br>
        <% end %>

        <div>
            <h2><%= I18n.translate('activerecord.models.tag.other') %>:</h2>
            <%= link_to "Nova Marcação", new_tag_path(return_to: request.fullpath)%>
            <%= hidden_field_tag "dish[tag_ids][]", nil %>
            <% tags.each do |tag| %>
                <%= f.label tag.id, I18n.t(tag.name) %>   
            <%= check_box_tag "dish[tag_ids][]", tag.id, dish.tag_ids.include?(tag.id), id: "#{dom_id(tag)}" %><br>
            <% end %>
        </div>
        <%= f.submit%>
    <% end %>