       
<div class="container mx-auto px-4 py-8 max-w-6xl">
    <nav class="mb-8">
       <%= link_to @restaurant.trade_name, restaurant_path(@restaurant.id), class: "text-blue-600 hover:text-blue-800" %>
   </nav>
    <div class="mb-8">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl font-bold text-gray-900">Gestão de funcionários</h1>
        </div>
        <div class="mb-6">
            <%= link_to 'Pré-cadastrar funcionário', 
                new_restaurant_new_employee_path(@restaurant),
                class: "inline-flex items-center px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-200" %>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
                Funcionários pré-cadastrados
                <span class="ml-2 px-2 py-1 text-sm bg-yellow-100 text-yellow-800 rounded-full">
                    Pendentes
                </span>
            </h2>
            <div class="space-y-4">   
                <% if @new_employees.any? %>
                    <% @new_employees.each do |new_employee| %> 
                        <div id="<%= dom_id(new_employee)%>"class="flex items-center justify-between p-4 border rounded-lg bg-gray-50">
                            <div>
                                <h3 class="font-medium text-gray-900"><%= CPF.new(new_employee.cpf).formatted %></h3>
                                <p class="text-sm text-gray-600"><%= new_employee.email %></p>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="flex flex-col items-center justify-center p-6 text-center bg-gray-50 rounded-lg">
                        <div>
                            <p class="text-gray-500 mb-2">Nenhum funcionário pré-cadastrado</p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
                Funcionários cadastrados
                <span class="ml-2 px-2 py-1 text-sm bg-green-100 text-green-800 rounded-full">
                    Ativos
                </span>
            </h2>
            <div class="space-y-4">   
                <% if @restaurant.employees.any? %>
                    <% @restaurant.employees.each do |employee| %> 
                        <div id="<%=dom_id(employee)%>" class="flex items-center justify-between p-4 border rounded-lg bg-gray-50">
                            <div>                  
                                <h3 class="font-medium text-gray-900"><%= CPF.new(employee.cpf).formatted %></h3>
                                <p class="text-sm text-gray-600"><%= employee.email %></p>
                            </div>  
                        </div>
                    <% end %>
                <% else %>
                <div class="flex flex-col items-center justify-center p-6 text-center bg-gray-50 rounded-lg">
                        <div>
                            <p class="text-gray-500 mb-2">Nenhum funcionário cadastrado</p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>