<h1><%= @restaurant.trade_name %></h1>

<div id="<%=dom_id @restaurant%>">
    <div>
        <%= link_to 'Gestão de Funcionários', manage_employees_restaurant_path(@restaurant.id)%>
    </div>
    <% if current_user == @restaurant.user %>
        <%= link_to 'Editar', edit_restaurant_path(@restaurant.id)%>
    <% end %>
    <ul>
        <li><%= @restaurant.street_address %></li>
        <li><%= @restaurant.city %> - <%= @restaurant.state %></li>
    </ul>

    <ul>
        <h2>Horário de funcionamento:</h2>
        <% [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday].each do |weekday| %>
            <% shift = @restaurant.shifts.find_by(weekday: weekday) %>
            <li>
                <%= render 'shared/weekday', weekday: weekday, shift: shift%>
            </li>
        <% end %>
    </ul>
</div>

<div>
    <h2>Bebidas 
        <% if @restaurant == current_user.restaurant %>
            <%= link_to 'Cadastrar nova bebida', new_restaurant_beverage_path(@restaurant.id) %>
        <% end %>
    </h2>
    <% if @beverages.empty? %>
        <p>Não há bebidas cadastradas</p>
    <% else %>
        <%= render partial: 'shared/beverage', collection: @beverages, as: :beverage %>
    <% end %>
</div>


<div>
    <h2>Pratos 
        <% if @restaurant == current_user.restaurant %>
            <%= link_to 'Cadastrar novo prato', new_restaurant_dish_path(@restaurant.id) %>
        <% end %>
    </h2>
    
    <% if @dishes.empty? %>
        <p>Não há pratos cadastrados</p>
    <% else %>
        <ul>
            <%= render partial: 'shared/dish', collection: @dishes, as: :dish %>
    <% end %>
</div>


