<h1><%= @restaurant.trade_name %></h1>

<div>
    <ul>
        <li><%= @restaurant.street_address %></li>
        <li><%= @restaurant.city %> - <%= @restaurant.state %></li>
    </ul>

    <ul>
        <h2>Horário de funcionamento:</h2>
        <% [:sunday, :monday, :tuesday, :wednesday, :thursday, :friday, :saturday].each do |weekday| %>
            <% shift = @restaurant.shifts.find_by(weekday: weekday) %>
            <li id=<%=weekday%>>
                <%= render 'shared/weekday', weekday: weekday, shift: shift%>
            </li>
        <% end %>
    </ul>
</div>

<div>
    <h2>Bebidas 
        <% if @restaurant == current_user.restaurant %>
            <%= link_to 'Cadastrar nova bebida', new_restaurant_beverage_path(@restaurant.id) %>
        <% end %>
    </h2>
    <% if @beverages.empty? %>
        <p>Não há bebidas cadastradas</p>
    <% else %>
        <ul>
            <% @beverages.each do |beverage| %>
                    <li id=<%=beverage.hash%>>
                        <%= render 'shared/beverage', beverage: beverage%>
                   </li>
            <% end %>
        </ul>
    <% end %>
</div>


<div>
    <h2>Pratos 
        <% if @restaurant == current_user.restaurant %>
            <%= link_to 'Cadastrar novo prato', new_restaurant_dish_path(@restaurant.id) %>
        <% end %>
    </h2>
    
    <% if @dishes.empty? %>
        <p>Não há pratos cadastrados</p>
    <% else %>
        <ul>
            <% @dishes.each do |dish| %>
                <li id="<%= dish.hash %>">
                    <%= render 'shared/dish', dish: dish %>
                </li> 
            <% end %>
        </ul>
    <% end %>
</div>


